<!DOCTYPE html>
<html>
  <style>
    p {
      font-size: 125%;
    }

    li {
      font-size: 120%;
      color: blueviolet;
    }

    #guess {
      font-style: italic;
      color: green;
    }

    #game {
      font-style: oblique;
      color: purple;
    }

    body {
      background-color: lightblue;
    }

    button {
      width: 250px;
      height: 50px;
      font-size: 120%;
    }
  </style>
  <body>
    <h1> The result </h1>

    <h2>Keep track of the progress of the game here: </h2>
    <p> The current state of the word: {{ unknown_word.show_guessed_word }} </p>
    <p> Number of guesses left: {{ unknown_word.get_guesses_times }} </p>
    <p> Number of warnings left: {{unknown_word.get_warnings_times}} </p>
    <p> Number of hints left: {{unknown_word.get_hints_times}} </p>
    <p> Available Letters: {{ unknown_word.show_available_letters }} </p>
    <br>
    <h2> Want to know what is going on with your guess? </h2>
    <p id="guess"> {{unknown_word.show_game_status}} </p>
    <br>
    <h2> Have you successfully completed the game? </h2>
    <p id="game"> {{unknown_word.get_success_or_not}} </p>

    <br>

    <a href="{% url 'hangman:homepage' %}"><button autofocus>Click here to return to the game page</button></a>
    <br>
    <h2> Hint </h2>
    {% if unknown_word.total_number_of_hints %}
    <h3> These are the possible words that can be formed by the current known letters: </h3>
    {% endif %}
    <ul>
      {% for word in unknown_word.get_all_hints %}
        <li> {{word}} </li>
      {% endfor %}
    </ul>
  </body>
</html>
